<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 两列布局 ： 左定宽，右自适应 -->
    <div id="layout1">
        <div class="left">左定宽</div>
        <div class="right">右自适应</div>
    </div>
    <!-- 三列布局float ： 左右定宽，中自适应 -->
    <div id="layout2">
        <div class="left">左定宽</div>
        <div class="right">右定宽</div>
        <div class="mid">中自适应</div>
    </div>
    <!-- 三列布局position ： 左右定宽，中自适应 -->
    <div id="layout3">
        <div class="left">左定宽</div>
        <div class="right">右定宽</div>
        <div class="mid">中自适应</div>
    </div>
    <!--三列布局圣杯布局：左右定宽，中自适应 ： 左右定宽，中自适应 -->
    <div id="layout4">
        <div class="mid"><div class="main">中自适应</div></div>
        <div class="left">左定宽</div>
        <div class="right">右定宽</div>
    </div>
    <link rel="stylesheet" href="style.css">
</body>
</html>